.hero {
  // margin-top: 4rem;
  &__info {
    text-align: center;
    padding: 1rem 0 1.5rem;

    @include breakpoint-up(md) {
      text-align: initial;
      flex: 50%;
    }

    &--title {
      font-size: 1.4rem;
      color: $clr-grey-800;
      font-weight: $fw-700;
      opacity: 0.9;

      @include breakpoint-up(sm-100) {
        font-size: 1.55rem;
        letter-spacing: 0.02rem;
      }

      @include breakpoint-up(lg) {
        font-size: 2.5rem;
        letter-spacing: 0.03rem;
        max-width: 10rem;
        line-height: 1.4;
      }
    }

    &--metainfo {
      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.43);
      font-weight: $fw-500;
      padding: 0.5rem 0 3rem;
      max-width: 14rem;
      margin-inline: auto;

      @include breakpoint-up(sm-100) {
        font-size: 0.9rem;
        max-width: 20rem;
      }

      @include breakpoint-up(md) {
        margin: initial;
      }

      @include breakpoint-up(lg) {
        font-size: 1rem;
        padding: 1rem 0 4rem;
        font-weight: $fw-400;
      }
    }
  }

  &__image {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    img {
      margin-inline: auto;
    }

    @include breakpoint-up(lg) {
      display: initial;
    }
  }
}
