$clr-primary-900: #7562e0;
$clr-primary-800: #8372e3;
$clr-primary-700: #9181e6;
$clr-primary-600: #9e91e9;
$clr-primary-500: #aca1ec;
$clr-primary-400: #bab1f0;
$clr-primary-300: #c8c0f3;
$clr-primary-200: #d6d0f6;
$clr-primary-100: #e3e0f9;
$clr-primary-50: #f1effc;
$clr-white: #ffffff;

$clr-grey-900: #000000;
$clr-grey-800: #1a1a1a;
$clr-grey-700: #333333;
$clr-grey-600: #4d4d4d;
$clr-grey-500: #666666;
$clr-grey-400: #808080;
$clr-grey-300: #999999;
$clr-grey-200: #b3b3b3;
$clr-grey-100: #cccccc;
$clr-grey-50: #e6e6e6;

$general-spacing: 0.07rem;
$section-spacing: 5rem;

//* *************************** *//
//*********** Fonts *************//
//* **************************  *//

$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Pacifico", cursive;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
